* {
	margin: 0;
	padding: 0;
}

#controls {
	position: fixed;
	left: 2rem;
	bottom: 2rem;
	padding: 2rem;
}

input, button, select, option {
	font-family: inherit;
}

textarea {
	font: 16px monospace;
}

body {
	font: 32px/1.5 'lora';
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.slide {
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	padding: 10vh;
}

.slide img {
	display: block;
}

.slide img {
	height: 100%;
	margin: auto;
	resize: both;
}