* {
	margin: 0;
	padding: 0;
}

body {
	font: 32px/1.5 'lora';
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.slide {
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	padding: 20vh;
	border: 10px solid black;
}

.slide img {
	display: block;
}