* {
	margin: 0;
	padding: 0;
}

body {
	font: 32px/1.5 'lora';
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.slide {
	/*border: 10vh solid black;*/
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	padding: 15vh;
}

.slide img {
	display: block;
}

.slide-image {
	padding: 10vh;
}

.slide-image img {
	height: 100%;
	margin: auto;
	resize: both;
}